*{
	/*border: 1px solid black;*/
	
	
}
body {
    font: 10pt Arial, Helvetica, sans-serif;
	background:url(1.jpg);
	font-size: 1.1em; 
    color:000000; 
    margin-top:0;
	min-width:600px;
	
}

.u{
	color:white;
}

.leftcol { 
 padding:10px;
 margin-top:0px;
 margin-right:10px;
 float:left; 
 width:200px;
 height:6590px;
 background-color:ccffff;
 color:ff0000;
}
.lightcol { 
 margin-left: 220px; 
}
.li{
	height:50px;
	width:50px;
}
table {
    width: 50%;
    background:ff7ec3;
    color:white ; 
    border-spacing: 1px; 
	margin:0 auto;
	font: 12pt Arial, Helvetica, sans-serif;
   }
td, th {
    background:#51B5E0; 
    padding: 5px;
   }
hl{
    margin:8%;
}
.fig {
    text-align: center; 
   }
   .colortext {
     color: red; 
   }
ul{
	
	
}

a{
	text-decoration:none;
}
iframe{
	margin-left:15%;
}
text